body{
    margin: 0;
    text-align: center;
    font-family: 'Merriweather', serif;
}

h1{
    color: #66BFBF;
    font-size: 5.625rem;
    margin-top: 50px auto 0 auto;
    font-family: 'Raleway', sans-serif;
    }

h2 {
    font-size: 2.5rem;
    color: #66BFBF;
    font-family: 'Merriweather', sans-serif;
    font-weight: normal;
}

h3 {
    color: #11999E;
    font-family: 'Montserrat', sans-serif;
}

a {
    color: #11999E;
}


.top-container{
    background-color: #e4f9f5;
    position: relative;
    padding-top: 100px;
}

.middle-container{
    
    
}

.bottom-container{
    
    
    
}

.dev {
    text-decoration: underline;
}

.top-cloud {
    position: absolute;
    right: 300px;
    top: 50px;
}

.bottom-cloud {
    position: absolute;
    left: 300px;
    bottom: 300px;
}